@model List<WebApplication11.Models.TblEducation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 style="background-color:red">Burası Eğitim Sayfası</h2>




<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Eğitim Sayısı</th>
               
            </tr>
        </thead>
        <tbody>
            @*for while do while foreach*@
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EducationID</td>
                    <td>@item.StartYear</td>
                    <td>@item.EndYear</td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Section</td>
                </tr>
            }