
@model List<WebApplication11.Models.TblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Index</h2>



<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Referans ID</th>
                <th>Referans Adı</th>
                <th>Referans Açıklaması</th>
                <th>Referans Resmi</th>
                <th>Sayfa Açıklaması</th>
                <th>Unvan ID</th>
                <th>Güncelle</th>
                <th>Sil</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>@item.TestimonialName</td>
                    <td>@item.Description2</td>
                    <td><img src="@item.ImageUrl" style="width:50px" /></td>
                    <td>@item.Description1</td>
                    <td>@item.Title</td>
                    <td>@item.Title</td>
                    <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialName" class="btn btn-danger">Güncelle</a></td>
                    <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialName" class="btn btn-dark">Sil </a> </td>
                </tr>
            }


